/************************** Themes **************************/

.theme-neon-city {
  /* used in header + footer + calc */
  --color-black: #001616;
  --color-black-opacity: rgba(0, 22, 22, 0.8);
  --color-black-opacity-2: rgba(0, 0, 0, 0.4);
  /* used on calc-btn */
  --color-main: #d720b2;
  --color-main-opacity: rgba(215, 32, 178, 0.8);
  --color-main-light: #fbe9f7;
  --color-hover: #0f2731;

  --screen-gradient: linear-gradient(to bottom, #4e7ace, #4edaf7);

  /* Used on calc btns */
  --shadow-dark-sm: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  --highlight-main-sm: -2px -2px 2px 0 rgba(236, 134, 221, 0.64);
  /* Used on calc screen */
  --highlight-dark-sm: -2px -2px 2px 0 rgba(0, 0, 0, 0.25);

  /* Used on calc body */
  --highlight-dark-md: -8px -8px 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-main-md: 10px 10px 10px 0 rgba(209, 36, 174, 0.3);

  --vid-opacity: 0.8;

  --font-calc: 'Teko', sans-serif;
}
.theme-matrix {
  /* used in header + footer + calc */
  --color-black: #0c0c0c;
  --color-black-opacity: rgba(13, 13, 13, 0.658);
  --color-black-opacity-2: rgba(0, 0, 0, 0.6);
  /* used on calc-btn */
  --color-main: #53de54;
  --color-main-opacity: rgba(83, 222, 83, 0.8);
  --color-main-light: #ddf8dd;
  --color-hover: #0f2731;

  --screen-gradient: linear-gradient(to bottom, #1fa422, #83e57e);

  /* Used on calc btns */
  --shadow-dark-sm: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  --highlight-main-sm: -2px -2px 2px 0 rgb(81, 213, 82);
  /* Used on calc screen */
  --highlight-dark-sm: -2px -2px 2px 0 rgba(0, 0, 0, 0.25);

  /* Used on calc body */
  --highlight-dark-md: -8px -8px 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-main-md: 4px 4px 20px 0 rgba(10, 142, 12, 0.493);

  --vid-opacity: 0.96;

  --font-calc: 'Teko', sans-serif;
}
.theme-hollow-knight {
  /* used in header + footer + calc */
  --color-black: #001616;
  --color-black-opacity: rgba(0, 22, 22, 0.8);
  --color-black-opacity-2: rgba(0, 0, 0, 0.4);
  /* used on calc-btn */
  --color-main: #65b5a1;
  --color-main-opacity: rgba(101, 181, 161, 0.8);
  --color-main-light: #e0f0ec;
  --color-hover: #0f2731;

  --screen-gradient: linear-gradient(to bottom, #3e5286, #699aa8);

  /* Used on calc btns */
  --shadow-dark-sm: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  --highlight-main-sm: -2px -2px 2px 0 rgb(128, 189, 139);
  /* Used on calc screen */
  --highlight-dark-sm: -2px -2px 2px 0 rgba(0, 0, 0, 0.25);

  /* Used on calc body */
  --highlight-dark-md: -8px -8px 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-main-md: 4px 4px 20px 0 rgba(128, 189, 139, 0.644);

  --vid-opacity: 0.85;

  --font-calc: 'Teko', sans-serif;
}

/************************** Main Style **************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
  /* font-size: 1.06rem; */
  font-family: var(--font-calc);
}

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: var(--vid-opacity);
  overflow: hidden;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/************************** Header Style **************************/

header {
  background-color: rgba(0, 22, 22, 0.9);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 5rem;
}

.page-title {
  border: none;
  background: none;
  color: white;

  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.4rem;
}

/************************ Calculator Style ************************/

.calculator-app {
  position: relative;
  box-shadow: var(--shadow-main-md), var(--highlight-dark-md);
}

.calculator-body {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /*   grid-template-rows: repeat(7, 1fr); */
  grid-template-rows: repeat(2, 1fr) 2.5rem repeat(5, 1fr);
  /*  width: min(40rem, 53vh);
  height: min(60rem, 80vh); */
  width: 35.2rem;
  height: 46.2rem;

  /*   opacity: 0; */
  padding: 1.6rem;
  background-color: var(--color-black);
  border-radius: 2%;
}

/**********************Calculator Screen**********************/

.calculator-screen {
  grid-column: 1/5;
  grid-row: 1/3;
  background: var(--screen-gradient);
  border: 0.1rem solid var(--color-black);
  box-shadow: inset var(--shadow-dark-sm), inset var(--highlight-dark-sm);
  border-radius: 2%;
  /*   margin-bottom: 0.5rem; */
  padding-bottom: 4.5rem;
  padding-right: 1rem;
  text-align: right;
}

.screen-upper {
  font-size: 3rem;
  line-height: 4.37rem;
  padding-top: 1rem;
  height: 50%;
}

.screen-lower {
  font-size: 6.5rem;
  height: 50%;
}

/**********************Calculator Switches**********************/
.calculator-switches {
  grid-column: 1/5;
  grid-row: 3/4;
  display: flex;

  gap: 4.5rem;
}

/* Sets opacity of any checkbox with the label toggle to 0 */
input[type='checkbox'].toggle {
  opacity: 0;
  position: absolute;
  left: -101vw;
}
/* Switch Label */
input[type='checkbox'].toggle + label {
  color: #4ea7e1;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

/* Background of switches */
input[type='checkbox'].toggle + label::before {
  content: '';
  width: 2em;
  height: 0.8em;
  background-color: #102c31;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  margin-right: 0.5em;
  transition: transform 0.4s ease-in-out;
}
/* Switches */
input[type='checkbox'].toggle + label::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.8em;
  border-radius: 10%;
  background-color: var(--color-main-opacity);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.4s ease-in-out;
}
/* Switch checked */
input[type='checkbox'].toggle:checked + label::after {
  transform: translateX(100%);
}

input[type='checkbox'].toggle:checked + label::before {
  /* background-color: #4edaf7; */
}

input[type='checkbox'].toggle:checked + label {
  color: #4edaf7;
}

/**********************Calculator Buttons**********************/
.btn-0 {
  grid-column: 1/3;
}

.btn-calc {
  font-family: inherit;
  background-color: var(--color-black);
  color: var(--color-main);
  border: 0;
  border-radius: 5%;
  font-size: 2.6rem;

  box-shadow: var(--shadow-dark-sm), var(--highlight-main-sm);
}

.btn-calc:hover {
  background-color: var(--color-hover);
}
.btn-calc:active {
  box-shadow: inset var(--shadow-dark-sm), inset var(--highlight-main-sm);
  transform: translate(+1.5px, +1.5px);
  background-color: var(--color-black);
}

.key-active {
  box-shadow: inset var(--shadow-dark-sm), inset var(--highlight-main-sm);
  transform: translate(+1.5px, +1.5px);
  background-color: var(--color-black);
}

/********************** Calculator Panels **********************/

.calc-panel {
  width: 25rem;
  height: 43rem;
  background-color: var(--color-black-opacity);
}

/**********************Themes-Left Panel**********************/
.calc-panel-left {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding-right: 1.6rem;

  position: absolute;

  border-radius: 2% 0 0 2%;
  box-shadow: inset 0px 0px 0px 10px var(--color-black);

  left: 0px;
  top: 16px;
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.calc-panel-left-active {
  transform: translateX(-240px);
}

/******************Theme Selectors-Radio Buttons******************/

.btn-radio-group {
}

.input-theme {
  position: absolute;
  left: -101vw;
}

.label-theme {
  position: relative;
  font-size: 3.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  cursor: pointer;
  user-select: none;

  color: var(--color-main-light); /* temp */
}

.theme-radio-btn {
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-main-light);
  border-radius: 20%;
  top: 0.4em;
  margin-left: 0.4em;
  /*  box-shadow: inset 2px 2px 4px 0px rgba(37, 37, 37, 0.75); */
}

.theme-radio-btn::after {
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-main);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.2s;
}

.input-theme:checked ~ .label-theme {
  /*   color: var(--color-main); */
}
.input-theme:checked ~ .label-theme .theme-radio-btn::after {
  opacity: 1;
}

/************************Audio Controls*************************/

.btn-audio {
  border: none;
  background: none;
  height: 6rem;
  width: 6rem;
  border-radius: 5%;
  margin-top: 2rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-audio-hover:hover {
  transform: scale(1.2);
}

.btn-audio-active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

.audio-control {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;

  gap: 3rem;
  padding-right: 3rem;
}

.audio-icon {
  height: 5rem;
  padding: 0.5rem;

  fill: var(--color-main-light);
}

.audio-icon-active {
  fill: var(--color-main);
}

/********************History-Right Panel********************/

.calc-panel-right {
  width: 26rem;
  position: absolute;
  text-align: end;
  border-radius: 0 2% 2% 0;
  box-shadow: inset 0px 0px 0px 10px var(--color-black);
  /*  padding: 0.9rem; */
  right: 0px;
  top: 16px;
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.calc-panel-right-container {
  margin-top: 1rem;
  height: 41rem;
  overflow-y: scroll;
}

.history-container {
  color: var(--color-main-light);
  height: 7.5rem;
  padding-right: 1rem;
  font-weight: 100;
  margin-top: 1.6rem;
  user-select: none;
  position: relative;
}

.history-container:hover {
  background-color: var(--color-black-opacity-2);
  cursor: pointer;
}

.history-equation {
  font-size: 2rem;
  letter-spacing: 1px;

  /*  margin-bottom: 0.2rem; */
}

.history-result {
  font-size: 3.2rem;

  letter-spacing: 0.1rem;
}

.btn-history-delete {
  border: none;
  background: none;
  position: absolute;
  z-index: 10;
  left: 28px;
  bottom: 30px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-history-hover:hover {
  transform: scale(1.1) rotate(20deg);
}
.btn-history-delete-active {
  transform: scale(0.9) rotate(180deg);
}

.icon-history-delete {
  height: 4rem;
  fill: var(--color-main-light);
}

.calc-panel-right-active {
  transform: translateX(250px);
}

/************************ Footer Style ************************/

footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  font-weight: 300;
  color: white;
  /*   padding-left: 6rem;
  padding-right: 6rem; */
  background-color: rgba(0, 22, 22, 0.9);
  height: 8rem;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  color: white;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-github {
  fill: var(--color-main);
  height: 5rem;
  transition: all 0.2s;
}

.icon-github:hover {
  transform: scale(1.1);
}
.icon-github:active {
  transform: scale(0.9);
}
