@media (max-width: 56em) /* 900px */ {
  /* Animation to display left panel */
  .calc-panel-left-active {
    animation-name: reveal-left-panel;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  /* Animation to display hide panel */
  .calc-panel-left-hidden {
    animation-name: hide-left-panel;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  /* Adjust size and layout of left panel */
  .calc-panel-left {
    width: 32.8rem;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(15, 28, 28, 0.96);
    padding-right: 0rem;
  }

  /* Display theme toggle switch on left panel */
  input[type='checkbox'].toggle-themes-responsive + label {
    color: var(--screen-dark);
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    left: 0;
  }

  /* adjust position of buttons in left panel */
  .neon-city-radio {
    padding-right: 3rem;
  }

  .matrix-radio {
    padding-left: 0.1rem;
  }

  .hollow-knight-radio {
    padding-right: 6.5rem;
  }

  .audio-control {
    justify-content: center;
    gap: 4rem;
    padding-right: 0rem;
  }

  .btn-audio {
    margin-top: 0rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  @keyframes reveal-left-panel {
    0% {
      transform: translateX(-325px);
      z-index: 3;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    100% {
      transform: translateX(10px);
      z-index: 3;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  @keyframes hide-left-panel {
    0% {
      transform: translateX(10px);
      z-index: 3;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    100% {
      transform: translateX(-325px);
      z-index: 3;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }

  /* Animation to display right panel */
  .calc-panel-right-active {
    animation-name: reveal-right-panel;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  /* Animation to hide right panel */
  .calc-panel-right-hidden {
    animation-name: hide-right-panel;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  /* Adjust size and layout of right panel */
  .calc-panel-right {
    width: 32.8rem;
    background-color: rgba(15, 28, 28, 0.96);
  }

  .history-container {
    padding-right: 2rem;
  }

  /* Display history toggle switch on right panel */
  input[type='checkbox'].toggle-history-responsive + label {
    color: var(--screen-dark);
    user-select: none;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    left: 28px;
    top: 28px;
  }

  @keyframes reveal-right-panel {
    0% {
      transform: translateX(325px);
      z-index: 3;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
      transform: translateX(-12px);
      z-index: 3;
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
  @keyframes hide-right-panel {
    0% {
      transform: translateX(-12px);
      z-index: 3;
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    100% {
      transform: translateX(325px);
      z-index: 3;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
  }
}

/* Ajustments for footer and credits modal */
@media (max-width: 35em) /* 560px */ {
  footer {
    gap: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  footer p {
    width: 5em;
  }

  .credits-modal h2 {
    font-size: 6rem;
    margin-bottom: 3rem;
    line-height: 0;
  }

  .credits-modal h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .credits-link:link,
  .credits-link:visited {
    font-size: 2rem;
    transition: all 0.2s;
  }
}
