@media (max-width: 56em) /* 900px */ {
  .calc-panel-left-active {
    animation-name: reveal-left-panel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .calc-panel-left-hidden {
    animation-name: hide-left-panel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .calc-panel-left {
    width: 32.8rem;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(15, 28, 28, 0.96);
    padding-right: 0rem;
  }

  input[type='checkbox'].toggle-themes-responsive + label {
    color: var(--screen-dark);
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    left: 0;
  }

  .neon-city-radio {
    padding-right: 3rem;
  }

  .matrix-radio {
    padding-left: 0.1rem;
  }

  .hollow-knight-radio {
    padding-right: 6.5rem;
  }

  .audio-control {
    justify-content: center;
    gap: 4rem;
    padding-right: 0rem;
  }

  .btn-audio {
    margin-top: 0rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  @keyframes reveal-left-panel {
    0% {
      transform: translateX(0);
      z-index: 1;
    }
    50% {
      transform: translateX(-325px);
      z-index: 1;
    }
    51% {
      z-index: 3;
    }

    100% {
      transform: translateX(10px);
      z-index: 3;
    }
  }
  @keyframes hide-left-panel {
    0% {
      transform: translateX(10px);
      z-index: 3;
    }

    50% {
      transform: translateX(333px);
      z-index: 3;
    }
    51% {
      z-index: 1;
    }

    100% {
      transform: translateX(0);
      z-index: 1;
    }
  }

  .calc-panel-right-active {
    animation-name: reveal-right-panel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .calc-panel-right-hidden {
    animation-name: hide-right-panel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .calc-panel-right {
    width: 32.8rem;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(15, 28, 28, 0.96);
    padding-right: 0rem;
  }

  @keyframes reveal-right-panel {
    0% {
      transform: translateX(0);
      z-index: 1;
    }
    50% {
      transform: translateX(325px);
      z-index: 1;
    }
    51% {
      z-index: 3;
    }

    100% {
      transform: translateX(-12px);
      z-index: 3;
    }
  }
  @keyframes hide-right-panel {
    0% {
      transform: translateX(-12px);
      z-index: 3;
    }

    50% {
      transform: translateX(-333px);
      z-index: 3;
    }
    51% {
      z-index: 1;
    }

    100% {
      transform: translateX(0);
      z-index: 1;
    }
  }
}
